
Lecture 2/.ipynb_checkpoints/2_Adaptive_Fourier_Filter-checkpoint.ipynb
Lecture 2/.ipynb_checkpoints/2_Adaptive_Fourier_Filter-checkpoint.ipynb
Lecture 3/.ipynb_checkpoints/0_Analyse_Low_Loss-checkpoint.ipynb
Lecture 3/.ipynb_checkpoints/1_Analysis_Core_Loss-checkpoint.ipynb
Lecture 5/.ipynb_checkpoints/0_Phase_Contrast_Image-checkpoint.ipynb
Lecture 5/.ipynb_checkpoints/1_Ronchigram-checkpoint.ipynb
Lecture 5/.ipynb_checkpoints/CH3_08-Thermal_Diffuse_Scattering-checkpoint.ipynb
Lecture 5/.ipynb_checkpoints/CH3_09-Z_Contrast-checkpoint.ipynb
Lecture 6/.ipynb_checkpoints/0_Register_Image_Stack-checkpoint.ipynb
Lecture 6/.ipynb_checkpoints/1_distortion_matrix-short-checkpoint.ipynb
Lecture 3/EELS-Gerd-v2.pdf
Lecture 3/Quantitative EELS.pptx
Lecture 3/EELS-Gerd-ORNL2017-v2.pptx
Lecture 3/~$EELS-Gerd-ORNL2017-v2.pptx
Lecture 3/~$Quantitative EELS.pptx
Lecture 6/Image Stacks.pptx
.pyTEMlib.files.pkl
example_data/p1-hr3-ZnOonGraphite.hf5
Lecture 2/.ipynb_checkpoints/0_Data_Representation-checkpoint.ipynb
Lecture 2/.ipynb_checkpoints/1_Load_File-checkpoint.ipynb
Lecture 2/.ipynb_checkpoints/2_Adaptive_Fourier_Filter-checkpoint.ipynb
Lecture 2/test1.hf5
Lecture 2/.ipynb_checkpoints/2_Adaptive_Fourier_Filter-checkpoint.ipynb
Lecture 2/.ipynb_checkpoints/1_Load_File-checkpoint.ipynb
Lecture 2/.ipynb_checkpoints/0_Data_Representation-checkpoint.ipynb
Lecture 2/.ipynb_checkpoints/2_Adaptive_Fourier_Filter-checkpoint.ipynb
